.footer {
  background-color:#79AEB1;
  padding: 10px;
  text-align: center;
  position: relative;
  bottom: 0;
  width: 100%;
  margin-top: auto; /* Ensures footer stays at the bottom */
}

.footer-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer-links {
  margin-bottom: 10px;
}

.footer-links a {
  margin: 0 10px;
  text-decoration: none;
  color:white;
}

.footer-copy {
  font-size: 14px;
  color:white;
}
